/* * {
    box-sizing: border-box;
} */

/* form {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 500px;
} */

.song-card {
    width: 230px;
    margin-left: 5px;
    margin-right: 5px;
}

.card-image {
    max-height: 100px;
}

.card-content {
    padding: 12px;
}

.card-content > div {
    text-align: center;
}